.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.work__div {
    width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.work__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work__title h2 {
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
}

.work__title p {
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 80%;
    text-align: center;
    margin-bottom: 5rem;
}

.project-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), inset 0 0 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 0.9rem;

  }

.project-wrapper {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 0.9rem;
}

